<div class="container row p-5 m-auto">
	<div class="col-md-7 ">
		<a class="mb-5 mr-5" style="font-size: 3em;"><i class="fas fa-utensils"></i></a>
		<img class="img-responsive center-block rounded "
			src="{{restaurant.image}} https://live.staticflickr.com/6231/6304689783_6ef8b31138_z.jpg"
			style="width: 350px;margin-bottom: 25px;">
	</div>
	<div class="col-md-5 ">
		<div class="well">
			<h5>{{restaurant.name}} 景點名稱</h5>
			<span><i class="fas fa-car-alt"></i>: 25 mins</span>
			<ul class="list-unstyled">
				<li><strong>Opening Hour:</strong> {{restaurant.opening_hours}} 08:00</li>
				<li><strong>Tel:</strong> {{restaurant.tel}} 03-21221121</li>
				<li><strong>Address:</strong> {{restaurant.address}} 光明市沒壞人路1段</li>
			</ul>
		</div>
		<p>{{restaurant.description}} 好玩適合小孩</p>
		<div class="row float-left">
			{{!-- <a href="/restaurants/{{restaurant.id}}/dashboard"><button type="submit"
							class="btn btn-info mt-4 ml-4">Dashboard</button></a> --}}
			{{#if isFavorited }}
			<form action="/favorite/{{restaurant.id}}?_method=DELETE" method="POST" style="display: contents;"><button
					type="submit" class="btn btn-outline-info btn-sm mt-4 ml-4">移除收藏</button></form>
			{{else}}
			<form action="/favorite/{{restaurant.id}}" method="POST" style="display: contents;"><button type="submit"
					class="btn btn-info btn-sm mt-4 ml-4">加入收藏</button></form>
			{{/if}}
			{{#if this.isLiked }}
			<form action="/like/{{restaurant.id}}?_method=DELETE" method="POST"><button type="submit"
					class="btn btn-danger btn-sm mt-4 ml-4">Dislike</button></form>
			{{else}}
			<form action="/like/{{restaurant.id}}" method="POST"><button type="submit"
					class="btn btn-outline-info btn-sm mt-4 ml-4">Like</button></form>
			{{/if}}
		</div>

	</div>

	<hr>
	<br />
	<br />
	<div class="container row m-auto p-3"></div>
	<div class="container row border border-info p-3 text-center">
		<input type="hidden" name="attractionId" value="{{attraction.id}}" />
		<div class="card mb-3" style="width: 200px; height: 120px;">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="..." class="card-img rounded" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h8 class="card-title" href="https://www.totoprayogo.com/#">傳統藝術中心 <small> 15 mins</small></h8>
						<small class="card-text">open: 08:00 </small>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- <div class="container p-5">
		<h6>所有評論：</h6>
		{{#each restaurant.Comments}}
		{{#if ../user.isAdmin}}
		<form action="/comments/{{this.id}}?_method=DELETE" method="POST" style="float: right;">
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
		{{/if}}
		<blockquote class="blockquote mb-0">
			<h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
			<p>{{this.text}}</p>
			<footer class="blockquote-footer">{{moment this.createdAt}}</footer>
		</blockquote>
		<hr />
		{{/each}}
		<br />
		<br />
		<form action="/comments" method="POST">
			<div class="form-group">
				<label for="text">留下評論：</label>
				<textarea class="form-control" id="text" name="text" rows="3"></textarea>
			</div>
			<div class="text-right">
				<input type="hidden" name="restaurantId" value="{{restaurant.id}}" />
				<button type="submit" class="btn btn-primary">Submit</button>
				<a href="javascript:history.back()">回上一頁</
			</div>
		</form>
	</div> --}}
</div>
</div>
