<div class="home-bg row m-auto p-5">
	{{#ifCond title "儲存前請輸入title"}}
	<form action="/users/{{user.id}}/dailyTour/?_method=PUT" method="POST" class="form-input col-6" style="width:50%;">
		{{else}}
		<form action="/users/{{user.id}}/tour" method="POST" class="form-input col-6" style="width:50%;">
			<button type="submit" class="btn close btn-sm "><i class="far fa-bookmark" style="color:green"
					title="儲存tour"></i></button>
			{{/ifCond}}
			<div class="tour-form ml-5">
				<input type="text" name="title" value="{{title}}" class="title text-center form-style"
					style="width: 30%; margin-right:25px;" placeholder="儲存前請輸入title">
					{{!-- 顯示城市氣候 --}}
						<div class="icon sunny container">
							<div class="sun">
								<div class="rays"></div>
							</div>
						</div>
						<span class="text-info ml-4">{{temp}}</span>
				<ul class="moveable timeline" id="items-list">
					<li class="input-append row">
						<p id="weather"></p>
						{{#if typeofOrigin }}
						<input type="text" name="origin" value="{{origin}}" class=" form-style text-center"
							style="width: 25%; margin-right:25px;">
						{{else}}
						<input type="text" name="origin" value="目前位置" class=" form-style text-center"
							style="width: 25%; margin-right:25px;">
						{{/if}}
						<input type="text" name="date" class="form-style datepicker text-center" style="width:30%; "
							value="{{date}}" placeholder="日期: {{date}}">
						<input type="text" name="startHourInit" class="time  text-center"
							style="color:mediumblue; font-size:14px;width:12%; margin-left:15px;" value="{{startHourInit}} "
							placeholder="{{startHourInit}}">
						<span class="text-center" style="width:20px;"> : </span>
						<input type="text" name="startMinInit" class="time  text-center"
							style="color:mediumblue; font-size:14px; width:12%;" value=" {{startMinInit}}"
							placeholder="{{startMinInit}}">



					</li>

					{{#each tourComponents}}
					<li>
						<div class="card mb-3" style="max-width: 500px;">
							<div class="row no-gutters">
								<div class="col-md-6">
									<img src="{{this.image}}" class="card-img" height="160px" width="160px" alt="">
								</div>
								<div class="col-md-6">
									{{!-- need to fix un-removed fist item --}}
									<form action="/users/{{this.id}}/{{this.category}}/component?_method=DELETE" method="POST">
										<button type="submit" id="delete" class="btn close btn-sm"><span
												aria-hidden="true">×</span></button>
									</form>
									<div class="card-body">
										<h6 class="card-title" href="#">{{this.destination}} {{this.end}}</h6>
										<span id="weather"></span>
										<label>停留時間:</label>
										<form action="/users/{{this.id}}/{{this.category}}/component?_method=PUT" method="POST">
											<input type="hidden" name="category" value="{{this.category}}">
											<input type="text" name="stayTime" value="{{this.stayTime}}" class="form-style text-center"
												style="color:purple; width:30%;" placeholder="{{this.stayTime}}"><span> mins</span>
											<button type="submit" class="btn btn-outline-light btn-sm"
												style="color:yellowgreen;">修改時間</button>
										</form>
										<p class="card-text" style="font-size: 14px;"><span><i class="fas fa-car"
													style="color:deepskyblue"></i></span> {{this.duration}}</p>
									</div>
								</div>
							</div>
						</div>
					</li>
					{{/each}}
					<li class="row">
						{{#if typeofOrigin}}
						<p class="form-style text-center mr-3 font-weight-bold">{{endLocation}}</p>
						{{else}}
						<p class="form-style text-center mr-3 font-weight-bold">目前位置</p>
						{{/if}}
						<span class="form-style text-center mr-3">{{endTime}}</span>
						<p><span><i class="fas fa-car" style="color:deepskyblue"></i></span>: {{endDuration}}</p>
					</li>
				</ul>

				<div class="form-submit out-line-close">
					<input type="submit" name="submit" value="重新計算">
				</div>
			</div>
		</form>

		<!-- 地圖放置處 -->

		<div class="col-4 ml-5 mt-5 text-center sticky-top">
			<div class=" sticky-top" id="map">
				<iframe width="450" height="300" frameborder="0" style="border:0"
					src="https://www.google.com/maps/embed/v1/directions?key={{API_KEY}}&origin={{origin}}&destination={{destination}}">>
				</iframe>
			</div>
		</div>
		<form action="/components/removeAllComponents?_method=DELETE" method="POST">
			<button type="submit" id="delete" class="btn btn-outline-danger btn-sm" onclick="deleteComponent()"><span
					aria-hidden="true">清空</span></button>
		</form>


</div>


<script>
	$('.datepicker').datepicker({
		clearBtn: true,
		orientation: "auto right",
		forceParse: false,
		daysOfWeekHighlighted: "0,6",
		todayHighlight: true
	})

</script>

<style>
	input {
		padding: 5px 10px;
		background: rgb(192, 192, 192, 0.3);
		border: 0 none;
		cursor: pointer;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

	/*.home_bg {
		background-image: url(http://photo.loveyd.com/uploads/allimg/080616/1143040.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
	}*/

	ul.timeline {
		list-style-type: none;
		position: relative;
	}

	ul.timeline:before {
		content: ' ';
		background: #d4d9df;
		display: inline-block;
		position: absolute;
		left: 29px;
		width: 2px;
		height: 100%;
		z-index: 200;
	}

	ul.timeline>li {
		margin: 20px 0;
		padding-left: 20px;
	}

	ul.timeline>li:before {
		content: ' ';
		background: white;
		display: inline-block;
		position: absolute;
		border-radius: 50%;
		border: 3px solid #22c0e8;
		left: 20px;
		width: 20px;
		height: 20px;
		z-index: 400;
	}

	/*[draggable="true"] {
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}



	ul.moveable {
		list-style: none;
		margin: 0px;

		li {
			list-style-image: none;
			margin: 10px;
			border: 1px solid #ccc;
			padding: 4px;
			border-radius: 4px;
			color: #666;
			cursor: move;

			 &:hover {
			background-color: #eee;
		}
	}
	}*/

	.tour-form input.form-style {
		width: 100%;
		border: none;
		border-bottom: 1px solid #333;
		text-transform: capitalize;
		padding-bottom: 5px;
		margin-bottom: 10px;
		outline: none;
		background-color: transparent;
	}

	.form-submit {
		text-align: left;
		padding: 0 15px;

	}

	.form-submit input {
		font-size: 16px;
		text-transform: capitalize;
		background-color: transparent;
		border: 1px solid #000;
		border-radius: 12px;
		padding: 15px 15px;
		margin-top: 10px;
		margin-bottom: 10px;
		cursor: pointer;
		-webkit-transition: .4s linear;
		-moz-transition: .4s linear;
		-ms-transition: .4s linear;
		-o-transition: .4s linear transition: .4s linear;
		float: right;
	}

	.form-submit input:hover {
		background-color: #000;
		color: #fff;
	}

	.icon {
		position: relative;
		display: inline-block;
		width: 1em;
		height: 1em;
		font-size: 6px;
		/* control icon size here */
	}

	.cloud {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		width: 3.6875em;
		height: 3.6875em;
		margin: -1.84375em;
		background: currentColor;
		border-radius: 50%;
		box-shadow:
			-2.1875em 0.6875em 0 -0.6875em,
			2.0625em 0.9375em 0 -0.9375em,
			0 0 0 0.375em black,
			-2.1875em 0.6875em 0 -0.3125em black,
			2.0625em 0.9375em 0 -0.5625em black;
	}

	.cloud:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: -0.5em;
		display: block;
		width: 4.5625em;
		height: 1em;
		background: currentColor;
		box-shadow: 0 0.4375em 0 -0.0625em black;
	}

	.cloud:nth-child(2) {
		z-index: 0;
		background: black;
		box-shadow:
			-2.1875em 0.6875em 0 -0.6875em black,
			2.0625em 0.9375em 0 -0.9375em black,
			0 0 0 0.375em black,
			-2.1875em 0.6875em 0 -0.3125em black,
			2.0625em 0.9375em 0 -0.5625em black;
		opacity: 0.3;
		transform: scale(0.5) translate(6em, -3em);
		animation: cloud 4s linear infinite;
	}

	.cloud:nth-child(2):after {
		background: black;
	}

	.sun {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2.5em;
		height: 2.5em;
		margin: -1.25em;
		background: currentColor;
		border-radius: 50%;
		box-shadow: 0 0 0 0.375em black;
		animation: spin 12s infinite linear;
	}

	.rays {
		position: absolute;
		top: -2em;
		left: 50%;
		display: block;
		width: 0.375em;
		height: 1.125em;
		margin-left: -0.1875em;
		background: black;
		border-radius: 0.25em;
		box-shadow: 0 5.375em black;
	}

	.rays:before,
	.rays:after {
		content: '';
		position: absolute;
		top: 0em;
		left: 0em;
		display: block;
		width: 0.375em;
		height: 1.125em;
		transform: rotate(60deg);
		transform-origin: 50% 3.25em;
		background: black;
		border-radius: 0.25em;
		box-shadow: 0 5.375em black;
	}

	.rays:before {
		transform: rotate(120deg);
	}

	.cloud+.sun {
		margin: -2em 1em;
	}

	.rain,
	.lightning,
	.snow {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		width: 3.75em;
		height: 3.75em;
		margin: 0.375em 0 0 -2em;
		background: currentColor;
	}

	.rain:after {
		content: '';
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		width: 1.125em;
		height: 1.125em;
		margin: -1em 0 0 -0.25em;
		background: #0cf;
		border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
		box-shadow:
			0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
			-0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
			-1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
		transform: rotate(-28deg);
		animation: rain 3s linear infinite;
	}

	.bolt {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -0.25em 0 0 -0.125em;
		color: #fff;
		opacity: 0.3;
		animation: lightning 2s linear infinite;
	}

	.bolt:nth-child(2) {
		width: 0.5em;
		height: 0.25em;
		margin: -1.75em 0 0 -1.875em;
		transform: translate(2.5em, 2.25em);
		opacity: 0.2;
		animation: lightning 1.5s linear infinite;
	}

	.bolt:before,
	.bolt:after {
		content: '';
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		margin: -1.625em 0 0 -1.0125em;
		border-top: 1.25em solid transparent;
		border-right: 0.75em solid;
		border-bottom: 0.75em solid;
		border-left: 0.5em solid transparent;
		transform: skewX(-10deg);
	}

	.bolt:after {
		margin: -0.25em 0 0 -0.25em;
		border-top: 0.75em solid;
		border-right: 0.5em solid transparent;
		border-bottom: 1.25em solid transparent;
		border-left: 0.75em solid;
		transform: skewX(-10deg);
	}

	.bolt:nth-child(2):before {
		margin: -0.75em 0 0 -0.5em;
		border-top: 0.625em solid transparent;
		border-right: 0.375em solid;
		border-bottom: 0.375em solid;
		border-left: 0.25em solid transparent;
	}

	.bolt:nth-child(2):after {
		margin: -0.125em 0 0 -0.125em;
		border-top: 0.375em solid;
		border-right: 0.25em solid transparent;
		border-bottom: 0.625em solid transparent;
		border-left: 0.375em solid;
	}

	.flake:before,
	.flake:after {
		content: '\2744';
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -1.025em 0 0 -1.0125em;
		color: black;
		list-height: 1em;
		opacity: 0.2;
		animation: spin 8s linear infinite reverse;
	}

	.flake:after {
		margin: 0.125em 0 0 -1em;
		font-size: 1.5em;
		opacity: 0.4;
		animation: spin 14s linear infinite;
	}

	.flake:nth-child(2):before {
		margin: -0.5em 0 0 0.25em;
		font-size: 1.25em;
		opacity: 0.2;
		animation: spin 10s linear infinite;
	}

	.flake:nth-child(2):after {
		margin: 0.375em 0 0 0.125em;
		font-size: 2em;
		opacity: 0.4;
		animation: spin 16s linear infinite reverse;
	}


	/* Animations */

	@keyframes spin {
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes cloud {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 0.3;
		}

		100% {
			opacity: 0;
			transform: scale(0.5) translate(-200%, -3em);
		}
	}

	@keyframes rain {
		0% {
			background: #0cf;
			box-shadow:
				0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
				-0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
				-1.375em -0.125em 0 #0cf;
		}

		25% {
			box-shadow:
				0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
				-0.875em 1.125em 0 -0.125em #0cf,
				-1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
		}

		50% {
			background: rgba(255, 255, 255, 0.3);
			box-shadow:
				0.625em 0.875em 0 -0.125em #0cf,
				-0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
				-1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
		}

		100% {
			box-shadow:
				0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2),
				-0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2),
				-1.375em -0.125em 0 #0cf;
		}
	}

	@keyframes lightning {
		45% {
			color: #fff;
			background: #fff;
			opacity: 0.2;
		}

		50% {
			color: #0cf;
			background: #0cf;
			opacity: 1;
		}

		55% {
			color: #fff;
			background: #fff;
			opacity: 0.2;
		}
	}
</style>
