<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container mt-5 mb-5 row">
	<div class="col-6">
		<h4>Today's Tour</h4>
		<ul class="moveable timeline" id="items-list">
			<li>
				<a>現在位置</a>
				<a class="float-right">{{startHour}}: {{startMin}} 12/23</a>
			</li>
			<li>
				<div class="card mb-3" style="max-width: 800px;">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img src="..." class="card-img" alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h6 class="card-title" href="https://www.totoprayogo.com/#">傳統藝術中心 {{duration}} <span style="font-size: 18px;"> {{hour}} : {{min}} 12/23 </span></h6>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
									additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="card mb-3" style="max-width: 800px;">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img src="..." class="card-img" alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title" href="https://www.totoprayogo.com/#">傳統藝術中心 <span>10:00 12/23</span></h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
									additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>

				<div class="card mb-3" style="max-width: 800px;">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img src="..." class="card-img" alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title" href="https://www.totoprayogo.com/#">傳統藝術中心 <span>10:00 12/23</span></h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
									additional content. This content is a little bit longer.</p>
								<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<!-- 地圖放置處 -->

	<div class="col-6  mt-5 text-center w-250 h-250 sticky-top">
		<div class="mt-5 sticky-top" id="map"
    class="embed-responsive embed-responsive-16by9">
		<iframe width="600" height="450" frameborder="0" style="border:0"
			src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDH04Hz8mvKNeGQyRigEXcQqo-Pyh9gRpE&q=台北火車站" allowfullscreen>
		</iframe>
		</div>

	</div>
</div>

{{!-- <script>

	let map;
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center:  { lat: 25.0478142, lng: 121.5169488 },
	zoom: 15
		});

	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIrPF3ESAMOP0tphzblBhM-sKfVRZ2qZ4&callback=initMap" async
	defer></script> --}}


{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXMKAXH92R4ol8_iFib_rWJRUt-WDLSw0&callback=initMap" async defer></script>


<script>
	let map;
	function initMap() {
		var map = new google.maps.Map(
			document.getElementById('map'), {
			center: new google.maps.LatLng(25.0478142, 121.5169488),
			zoom: 13,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var marker = new google.maps.Marker({
			position: new google.maps.LatLng(25.0478142, 121.5169488),
			map: map
		});

	}
</script> --}}

{{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2rbBXhikV_hGnY6Kzw0IYI6jhdxbbftA" type="text/javascript"></script> --}}
{{!-- <script type="text/javascript">
	google.load("maps", "3", {
		other_params: 'key=YOUR_API_KEY', callback: function () {
			var map;
		}
	})
</script> --}}

{{!-- <script type="text/javascript">
	function initialize() {
		var map = new google.maps.Map(
			document.getElementById('map'), {
			center: new google.maps.LatLng(25.0478142, 121.5169488),
			zoom: 13,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var marker = new google.maps.Marker({
			position: new google.maps.LatLng(25.0478142, 121.5169488),
			map: map
		});

	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script> --}}

<script>
	let items = document.querySelectorAll('#items-list > li')

	items.forEach(item => {
		$(item).prop('draggable', true)
		item.addEventListener('dragstart', dragStart)
		item.addEventListener('drop', dropped)
		item.addEventListener('dragenter', cancelDefault)
		item.addEventListener('dragover', cancelDefault)
	})

	function dragStart(e) {
		var index = $(e.target).index()
		e.dataTransfer.setData('text/plain', index)
	}

	function dropped(e) {
		cancelDefault(e)

		// get new and old index
		let oldIndex = e.dataTransfer.getData('text/plain')
		let target = $(e.target)
		let newIndex = target.index()

		// remove dropped items at old place
		let dropped = $(this).parent().children().eq(oldIndex).remove()

		// insert the dropped items at new place
		if (newIndex < oldIndex) {
			target.before(dropped)
		} else {
			target.after(dropped)
		}
	}

	function cancelDefault(e) {
		e.preventDefault()
		e.stopPropagation()
		return false
	}

</script>
<style type="text/css">
	html {
		height: 100%
	}

	body {
		height: 100%;
		margin: 0;
		padding: 0
	}

	#map {
		height: 100%
	}
</style>
<style>

	ul.timeline {
		list-style-type: none;
		position: relative;
	}

	ul.timeline:before {
		content: ' ';
		background: #d4d9df;
		display: inline-block;
		position: absolute;
		left: 29px;
		width: 2px;
		height: 100%;
		z-index: 200;
	}

	ul.timeline>li {
		margin: 20px 0;
		padding-left: 20px;
	}

	ul.timeline>li:before {
		content: ' ';
		background: white;
		display: inline-block;
		position: absolute;
		border-radius: 50%;
		border: 3px solid #22c0e8;
		left: 20px;
		width: 20px;
		height: 20px;
		z-index: 400;
	}

	[draggable="true"] {
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}



	ul.moveable {
		list-style: none;
		margin: 0px;

		li {
			list-style-image: none;
			margin: 10px;
			border: 1px solid #ccc;
			padding: 4px;
			border-radius: 4px;
			color: #666;
			cursor: move;

			/* &:hover {
			background-color: #eee;
		} */
		}
	}
</style>
