<div class="row m-auto p-5 " >
	<div class="container p-3 text-right">
			<a class="btn btn-info" href="javascript:history.back()">回上一頁</a>
			<a href="/users/{{user.id}}/dailyTour" class="btn btn-outline-success" type="submit">計算行程</a>
	</div>

		<div class="container row text-center" style="background-color:lemonchiffon;">
			{{#each favoriteArray}}
				<div class="col-md-3">
					<div class="card shadow-sm mt-3" style="width: 13rem;height: 22rem;">
						<img class="card-img-top image-fluid " src="{{this.image}}" alt="Card image cap"width="200px" height="180px">
						<div class="card-body text-center">
							<a class ="card-title mr-2" href="/{{this.category}}s/{{this.id}}">{{this.name}}</a>
							{{#ifEquals this.category 'attraction'}}
							<span class="" style="font-size: 20px;"><i class="fas fa-camera-retro" style="color:sienna;"></i></span>
							{{/ifEquals}}
							{{#ifEquals this.category "restaurant"}}
							<span class="" style="font-size: 20px;"><i class="fas fa-utensils" style="color:sienna;" ></i></span>
							{{/ifEquals}}
							{{#ifEquals this.category "shop"}}
							<span class="" style="font-size: 20px;"><i class="fas fa-gifts" style="color:sienna;"></i></span>
							{{/ifEquals}}
							<div class="ratings">
								<div class="empty_star">★★★★★</div>
								<div class="full_star" style="width: {{this.ratingStars}};">★★★★★</div>
							</div>
							<p class="m-auto"style="font-size: 14px; color:red;"> {{this.status}}</p>
							<span class="m-auto" style="font-size: 12px;"><span class="fas fa-car" style="color:deepskyblue"></span>: {{this.duration}}</span>
							<span class="row m-auto">
								<form action="/{{this.category}}s/{{this.id}}/favorite?_method=DELETE" method="POST" method="POST" style="display: contents;"><button
										type="submit" class="btn btn-outline-info btn-sm">移除收藏</button></form>
								{{#if this.isSelected }}
								<form action="/users/{{this.id}}/{{this.category}}/component?_method=DELETE" method="POST" method="POST" style="display: contents;">
									<button type="submit" class="btn btn-outline-success btn-sm ml-2">移除規劃</button></form>
								{{else}}
								<form action="/users/{{this.id}}/{{this.category}}/component" method="POST" style="display: contents;"><button type="submit"
										class="btn btn-success btn-sm ml-2">加入規劃</button></form>
								{{/if}}
							</span>

						</div>
					</div>
				</div>
			{{/each}}
		</div>



</div>
<style>


.ratings {
position: relative;
vertical-align: middle;
display: inline-block;
color: #ddd; /*背景星星顏色*/
overflow: hidden;
font-size: 20px; /*調整字體大小可放大縮小星星*/
text-shadow: 0px 1px 0 #999;
}
.full_star {
 /*調整寬度可變更星等*/
position: absolute;
left: 0;
top: 0;
white-space: nowrap;
overflow: hidden;
color:orange /*前景星星顏色*/
}
.card-title{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.card-title:hover{
  text-overflow: inherit;
  overflow: visible;
}

.shadow-sm{
	background-color:papayawhip;
}
.card:hover {
	transform: translate(0, 10px);
	transition-delay: 0s;
}

</style>

