<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<section class="home_bg p-5"  id="home">
	<div class="overlay"></div>
	<div class="container_table">
		<div class="container_table_cell">
			<h2 class=" mt-5 font-italic" style="font-size: 58px;weight: 30px">TravelBook</h2>
			{{!-- <div class="searchbar">
				<input class="search_input" type="text" name="keyword" placeholder="搜尋台北 餐廳 景點 熱門伴手禮?">
				<a href="/search" class="search_icon"><i class="fas fa-search"></i></a>
			</div> --}}
			<div class="social_icons">
				{{!-- <i href=""><i class="fas fa-bed" aria-hidden="true"></i></i> --}}
				<a href="/restaurants"><i class="fas fa-utensils" aria-hidden="true"></i></a>
				<a href="/attractions"><i class="fas fa-camera-retro" aria-hidden="true"></i></a>
				<a href="/shops"><i class="fas fa-gifts" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</section>
<div class="swiper-container text-center mt-2" >
	<a href="/restaurants" class="text-decoration-none text-monospace text-muted"style="font-size: 20px;font-family:LiGothic;">熱門餐廳</a>
	<div class="swiper-wrapper">
		{{#each restaurants}}
		<div class="swiper-slide mt-2">
			<a href="/{{this.category}}s/{{this.id}}"><img class="img-responsive center-block rounded" src="{{this.image}}"
					width="300px;" height="200px"></a>
			<h6>{{this.name}}</h6>
			<p class="m-auto" style="font-size: 14px;color:tomato;">{{this.status}}</p>
			<div class="ratings row">
				<div class="empty_star">★★★★★</div>
				<div class="full_star" style="width: {{this.ratingStars}};">★★★★★</div>
			</div>
		</div>
		{{/each}}
	</div>
	<div class="swiper-pagination"></div>
</div>
<div class="swiper-container text-center mt-2">
	<a href="/attractions" class="text-decoration-none text-monospace text-muted"
		style="font-size: 20px;font-family:LiGothic;">熱門景點</a>
	<div class="swiper-wrapper">
		{{#each attractions}}
		<div class="swiper-slide mt-2">
			<a href="/{{this.category}}s/{{this.id}}"><img class="img-responsive center-block rounded" src="{{this.image}}"
					width="300px;" height="200px"></a>
			<h6>{{this.name}}</h6>
			{{#ifCond this.opening_up ""}}
			<p class="m-auto" style="font-size: 14px;color:tomato;">{{this.opening_hours}}</p>
			{{else}}
			<p class="m-auto" style="font-size: 14px;color:tomato;">{{this.status}}</p>
			{{/ifCond}}
			<div class="ratings card-text row">
				<div class="empty_star">★★★★★</div>
				<div class="full_star" style="width: {{this.ratingStars}};">★★★★★</div>
			</div>
		</div>
		{{/each}}
	</div>
	<div class="swiper-pagination"></div>
</div>
<div class="swiper-container text-center mt-2">
	<a href="/shops" class="text-decoration-none text-monospace text-muted"
		style="font-size: 20px;font-family:LiGothic;">購物</a>
	<div class="swiper-wrapper">
		{{#each shops}}
		<div class="swiper-slide mt-2">
			<a href="/{{this.category}}s/{{this.id}}"><img class="img-responsive center-block rounded" src="{{this.image}}" width="300px" height="200px"></a>
			<h6>{{this.name}}</h6>
			<p class="m-auto" style="font-size: 14px;color:tomato;">{{this.status}}</p>
			<div class="ratings card-text row">
				<div class="empty_star">★★★★★</div>
				<div class="full_star" style="width: {{this.ratingStars}};">★★★★★</div>
			</div>
		</div>
		{{/each}}
	</div>
	<div class="swiper-pagination"></div>
</div>


<script>
	let mySwiper = new Swiper('.swiper-container', {
		slidesPerView: 4,
		spaceBetween: 30,
		freeMode: true,
		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		},
	})
</script>

<style>
	/* ============================ Homepage blackground img==========================*/
	.home_bg {
		background-image: url(https://www.travel.taipei/image/64610/1024x768);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;

	}

	.overlay {
		background: rgba(0, 0, 0, 0.3);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.container_table {
		display: table;
		width: 100%;
		height: 100%;
		position: relative;
	}

	.container_table_cell {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.container_table_cell h2 {
		color: #fff;
		text-transform: capitalize;
		font-size: 48px;
		letter-spacing: 4px;
		font-weight: lighter;
	}

	.social_icons a {
		color: #fff;
		display: inline-block;
		width: 30px;
		height: 40px;
		line-height: 40px;
		font-size: 24px;
		margin: 10px;

	}
	.swiper-container {
    background-color: whitesmoke;
		height: 350px;
	}
	.comment_bg {
		background-color:bisque;
		border-radius: 20px;
	}
	.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 250px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
			.ratings {
		position: relative;
		vertical-align: middle;
		display: inline-block;
		color: #ddd;
		/*背景星星顏色*/
		overflow: hidden;
		font-size: 20px;
		/*調整字體大小可放大縮小星星*/
		text-shadow: 0px 1px 0 #999;
	}

	.full_star {
		/*調整寬度可變更星等*/
		position: absolute;
		left: 0;
		top: 0;
		white-space: nowrap;
		overflow: hidden;
		color: orange
			/*前景星星顏色*/
	}

</style>
