<div class="container row p-5 m-auto mt-5">
	<div class="col-md-6 ">
		<div class=" text-center">
			<img class="img-responsive center-block rounded" src="{{profile.avatar}}" style="width: 200px; border-radius:50%;">
		</div>
	</div>
	<div class="col-md-5">
		<div class="mt-5 mb-4">
			<div class="row m-auto">
				<label><i class="fas fa-user-alt mr-4" style="font-size: 24px;color:burlywood;"></i></label>
				<h5 style="color: saddlebrown; margin-bottom:30px;">{{profile.name}} </h5>
			</div>
			<ul class="list-unstyled">
				{{#if profile.FavoritedRestaurants}}
				<li><strong class="fas fa-utensils mt-2" style="color:brown; font-size:24px;"></strong>
				收藏的餐廳數: 	{{profile.FavoritedRestaurants.length}}</li>
				{{#each profile.FavoritedRestaurants }}
				<a href="/restaurants/{{this.id}}" class="mr-2 text-info ">{{this.name}}</a>
				{{/each}}
				{{/if}}
				{{#if profile.FavoritedAttractions}}
				<li><strong class="fas fa-camera-retro mt-2" style="color:brown; font-size:24px;"></strong>
				收藏的景點數:	{{profile.FavoritedAttractions.length}}</li>
				{{#each profile.FavoritedAttractions }}
				<a href="/attractions/{{this.id}}" class="mr-2 text-info ">{{this.name}}</a>
				{{/each}}
				{{/if}}
				{{#if profile.FavoritedShops}}
				<li><strong class="fas fa-gifts mt-2" style="color:brown; font-size:24px;"></strong>
				收藏的商店數:	{{profile.FavoritedShops.length}}</li>
				{{#each profile.FavoritedShops }}
				<a href="/shops/{{this.id}}" class="mr-2 text-info">{{this.name}}</a>
				{{/each}}
				{{/if}}
			</ul>
		</div>
		<button class="btn btn-outline-dark" href="/user/{{profile.id}}/edit">Edit</button>
		<button class="btn btn-outline-secondary" href="javascript:history.back()">回上一頁</button>
	</div>

	<div class="container p-5 text-center" style=" ">
		<table class="table">
			<thead class="thead-info">
				<tr>
					{{!-- <th scope="col">#</th> --}}
					<th scope="col">title</th>
					<th scope="col">Components</th>
					<th scope="col">Action</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				{{#each tours}}
				<tr>
					{{!-- <th scope="row">{{this.id}}</th> --}}
					<td><a href="/users/{{../profile.id}}/tour/{{this.id}}">
						{{this.title}}</a></td>
					<td>
            {{#each this.components}}
						<a href="/{{this.category}}s/{{this.id}}">{{this.destination}}</a>
            {{/each}}
					</td>
					<td class="text-center">
						<a href="/users/{{../profile.id}}/tour/{{this.id}}/edit" ><i class="fas fa-edit "
								style="color:brown; font-size:16px;" title="編輯"></i></a>
						{{!-- <a href="/users/{{../user.id}}/tour/{{this.id}}/share" ><i class="far fa-share-square"
								style="color:brown; font-size:16px;" title="分享"></i></a> --}}
					</td>
					<td>
						<form action="/users/{{../profile.id}}/tour/{{this.id}}?_method=DELETE" method="POST" class=" "><button type="submit" class="btn btn-outline-danger"><i class="far fa-trash-alt" style="color:wheat; font-size:16px;"
									title="刪除"></i></button>
						</form>
					</td>
				</tr>
					{{/each}}
			</tbody>
		</table>
	</div>

	<hr>
	<br />
	<br />
</div>

</div>


<style>
	.comment_bg {
		background-color: bisque;
		border-radius: 20px;
	}
</style>
