<div class="container row p-5 m-auto">
	<div class="col-md-7 ">
		<a class="mb-5 mr-5" style="font-size: 3em;"><i class="fas fa-utensils"></i></a>
		<img class="img-responsive center-block rounded " src="{{shop.image}}"
			style="width: 350px;margin-bottom: 25px;">
	</div>
	<div class="col-md-5 ">
		<div class="well">
			<h5>{{shop.name}} </h5>
			<span><i class="fas fa-car-alt"></i>{{shop.duration}}</span>
			<ul class="list-unstyled">
				<li><strong>Opening Hour:</strong> {{shop.opening_hours}}</li>
				<li><strong>Tel:</strong> {{shop.phone}} </li>
				<li><strong>Address:</strong> {{shop.address}} </li>
				<li class="far fa-grin-beam" style="color: purple;font-size: 20px"><strong> {{shop.viewCounts}}</strong>
				</li>
			</ul>
		</div>
		<p>{{shop.description}} </p>
	</div>

	<hr>
	<br />
	<br />

	<div class="container p-5">
		<h6>所有評論：</h6>
		{{#each shop.Comments}}
		{{#if ../user.isAdmin}}
		<form action="/comments/{{this.id}}?_method=DELETE" method="POST" style="float: right;">
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
		{{/if}}
		<blockquote class="blockquote mb-0">
			<h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
			<p>{{this.comment}}</p>
			<footer class="blockquote-footer">{{moment this.createdAt}}</footer>
		</blockquote>
		<hr />
		{{/each}}
		<br />
		<br />
		<form action="/comments" method="POST">
			<div class="form-group">
				<label for="text">留下評論：</label>
				<textarea class="form-control" id="text" name="text" rows="3"></textarea>
			</div>
			<div class="text-right">
				<input type="hidden" name="shopId" value="{{shop.id}}" />
				<button type="submit" class="btn btn-primary">Submit</button>
				<a href="javascript:history.back()">回上一頁</a>
			</div>
		</form>
	</div>
</div>
</div>
