<div class="container p-5 ">


	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link " href="/restaurants">
				<i class="fas fa-utensils" style="font-size: 36px; color: lightblue;"></i></a>
		</li>
		<li class="nav-item">
			<a class="nav-link " href="/attractions">
				<i class="fas fa-camera-retro" style="font-size: 36px; color:lightblue;"></i></a>
		</li>
		<li class="nav-item">
			<a class="nav-link " href="/shops">
				<i class="fas fa-gifts" style="font-size: 36px; color:  black"></i></a>
		</li>
	</ul>


	<div class="row p-5">
		{{#each shops}}
		<div class="col-md-3 ">
			<div class="card shadow-sm">
				<img class="card-img-top" src="{{this.image}}" alt="Card image cap" width="200px" height="180px">
				<div class="card-body text-center m-auto">
					<p class="card-text  mb-2">
						<a href="/shops/{{this.id}}">
							{{this.name}}
						</a>
					</p>
					<p class="card-text mb-2">{{this.opening_hours}}</p>
					<p>{{this.introduction}}</p>
					<div class="card-text row ">
						{{#if this.isFavorited }}
						<form action="/shops/{{this.id}}/favorite?_method=DELETE" method="POST"><button type="submit"class="btn btn-outline-info btn-sm mt-4 ml-4" >移除收藏</button>
						</form>
						{{else}}
						<form action="/shops/{{this.id}}/favorite" method="POST"><button type="submit" class="btn btn btn-info btn-sm mt-4 ml-4">加到收藏</button>
						</form>
						{{/if}}
					</div>

				</div>
			</div>
		</div>
		{{/each}}
	</div>
	<br />
	<br />
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="/shops?page={{prev}}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			{{#each totalPage}}
			{{#ifCond this ../page}}
			<li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
			{{else}}
			<li class="page-item"><a class="page-link"
					href="/shops?page={{this}}">{{this}}</a></li>
			{{/ifCond}}
			{{/each}}
			<a class="page-link" href="/shops?page={{next}}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
			</li>
		</ul>
	</nav>


</div>
