<div class="home_bg p-5 ">


	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link " href="/restaurants">
				<i class="fas fa-utensils" style="font-size: 36px; color: lightblue;"></i></a>
		</li>
		<li class="nav-item">
			<a class="nav-link " href="/attractions">
				<i class="fas fa-camera-retro" style="font-size: 36px; color:lightblue;"></i></a>
		</li>
		<li class="nav-item">
			<a class="nav-link " href="/shops">
				<i class="fas fa-gifts" style="font-size: 36px; color:  black"></i></a>
		</li>
	</ul>


	<div class="row p-5">
		{{#each shops}}
		<div class="col-md-3">
			<div class="card shadow-sm" style="width: 13rem; height: 22rem;">
				<img class="card-img-top image-fluid " src="{{this.image}}" alt="Card image cap" width="200px" height="180px">
				<div class="card-body text-center ">
					<a class="card-title" href="/shops/{{this.id}}">{{this.name}}...</a>
					<span class="ratings card-text">
						<div class="empty_star">★★★★★</div>
						<div class="full_star" style="width: {{this.ratingStars}};">★★★★★</div>
					</span>
					<span class="text-center ml-5 mr-5"style="font-size: 14px;color:tomato;">{{this.status}}</span>
					<span class="text-center " style="font-size: 12px;">{{this.introduction}}...</span>
					<span class="row m-auto">
						{{#if this.isFavorited }}
						<form action="/shops/{{this.id}}/favorite?_method=DELETE" method="POST" style="display: contents;">
							<button type="submit" class="btn btn-outline-info btn-sm">移除收藏</button></form>
						{{else}}
						<form action="shops/{{this.id}}/favorite" method="POST" style="display: contents;"><button type="submit"
								class="btn btn-info btn-sm ">加入收藏</button></form>
						{{/if}}

						{{#if this.isSelected }}
						<form action="/shops/{{this.id}}/component?_method=DELETE" method="POST" style="display: contents;">
							<button type="submit" class="btn btn-outline-success btn-sm ml-2">移除規劃</button></form>
						{{else}}
						<form action="/shops/{{this.id}}/component" method="POST" style="display: contents;"><button
								type="submit" class="btn btn-success btn-sm ml-2">加入規劃</button></form>
						{{/if}}
					</span>

				</div>
			</div>
		</div>
		{{/each}}
	</div>
	<br />
	<br />
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item">
				<a class="page-link" href="/shops?page={{prev}}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			{{#each totalPage}}
			{{#ifCond this ../page}}
			<li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
			{{else}}
			<li class="page-item"><a class="page-link"
					href="/shops?page={{this}}">{{this}}</a></li>
			{{/ifCond}}
			{{/each}}
			<a class="page-link" href="/shops?page={{next}}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
			</li>
		</ul>
	</nav>


</div>
<style>
  .home_bg {
  background-image: url(https://www.crazyppt.com/wp-content/uploads/2018/10/1-1PRG01119.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.ratings {
position: relative;
vertical-align: middle;
display: inline-block;
color: #ddd; /*背景星星顏色*/
overflow: hidden;
font-size: 20px; /*調整字體大小可放大縮小星星*/
text-shadow: 0px 1px 0 #999;
}
.full_star {
 /*調整寬度可變更星等*/
position: absolute;
left: 0;
top: 0;
white-space: nowrap;
overflow: hidden;
color:orange /*前景星星顏色*/
}
.shadow-sm{
	background-color:papayawhip;
}
</style>
