<div class="container-fluid mt-5 ">
  <div class =" row justify-content-md-center">

		<div class="container col-md-auto text-justify">
				<div class="form-group ">
					<section class="contact clearfix" id="contact">
						<div class="container row">
							<div class="contact-form">
								<h8 class="form-title">一日行程規劃</h8>
								<form action="/users/{{user.id}}/tourEdit" method="POST" >
									<div class="form-input">
										<input type="text" name="title" class="form-style" placeholder="偷閒度假去~" required>
									</div>

									<div class="form-input">
									
										<input type="date" class="form-style" id="exampleFormControlSelect1"></input>
									</div>

									<div class="form-input">
										<input type="text" name="initLocation" class="form-style" placeholder="現在位置" required>
									</div>

									<div class="form-submit">
										<input type="submit" name="submit" value="submit">
									</div>
								</form>
							</div>
						</div>
					</section>
					{{!-- <label for="exampleFormControlInput1">Title</label>
					<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="偷閒度假去~">
				</div>
				<div class="form-group">
					<label for="exampleFormControlSelect1">選擇日期: </label>
					<input type="date" class="form-control" id="exampleFormControlSelect1"></input>
				</div>
				<div class="form-group">
					<label for="exampleFormControlSelect2">天數: </label>
					<select multiple class="form-control" id="exampleFormControlSelect2">
						<option>1</option>
						{{!-- <option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option> --}}
					</select>
				</div>
				{{!-- <div class="form-group">
						<label for="exampleFormControlTextarea1">旅遊敘述:</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>--}}
				{{!-- <input type="hidden" name="tour_Id" value="{{tour.id}}" />
				<button type="submit" class="btn btn-primary">Submit</button> --}}
		</div>
		<div class="container col-7 row">
			{{#each favoriteArray}}
			<div class="card mb-4 mr-2" style="width: 260px; height: 140px;">
				<div class="row no-gutters">
					<div class="col-md-5">
						<img src="{{this.image}}" class="card-img rounded" style=" height: 140px;" alt="">
						<input type="hidden" name="attractionId" value="{{this.id}}" />
					</div>
					<div class="col-md-7">
						<form action="/{{this.category}}s/{{this.id}}/favorite?_method=DELETE" method="POST"><button type="submit"
								class="btn close btn-sm"><span aria-hidden="true">×</span></button>
						</form>
						<div class=" card-body">
							<div class="container row">
								<a class="" style="font-size:16px;" href="/{{this.category}}s/{{this.id}}">{{this.name}}</a>
								<h8><i class="fas fa-car" style="color:deepskyblue"></i> {{this.duration}}</h8>
								{{#if this.isSelected }}
								<form action="/users/{{this.id}}/{{this.category}}/component?_method=DELETE" method="POST" class=" "><button
										type="submit" class="btn close btn-sm" style="font-size:16px;color:red;" title="移除規劃"><i
											class="fas fa-minus-circle"></i></button></form>
								{{else}}
								<form action="/users/{{this.id}}/{{this.category}}/component" method="POST" class=""><button type="submit"
										class="btn close btn-sm" style="font-size:16px; color:grey;" title="加入規劃"><i
											class="fas fa-calendar-plus"></i></button>
								</form>
								{{/if}}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>

</div>


<style>
	/*========================== 09. Contact ==========================*/

section.contact {
  padding:20px;
}

.contact-form {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.contact-form .form-input:first-child,
.contact-form .form-input:nth-child(2) {
  float: left;
  width: 100%;
  padding: 0 15px;
}

.contact-form .form-input:nth-child(3) {
  width: 100%;
  padding: 0 15px;
}

.contact-form input.form-style {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  text-transform: capitalize;
  padding-bottom: 19px;
  margin-bottom: 12px;
  outline: none;
}


 .form-submit {
  text-align: left;
  padding: 0 15px;
}

 .form-submit input {
  font-size: 16px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 15px 60px;
  margin-top: 16px;
  margin-bottom: 14px;
  cursor: pointer;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

 .form-submit input:hover {
  background-color: #000;
  color: #fff;
}

@media screen and (min-width: 768px){
 .contact-form {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

 .contact-form .form-input:first-child,
.contact-form .form-input:nth-child(2) {
  float: left;
  width: 50%;
  padding: 0 15px;
}

 .contact-form .form-input:nth-child(3) {
  width: 100%;
  padding: 0 15px;
}

 .contact-form input.form-style {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  text-transform: capitalize;
  padding-bottom: 19px;
  margin-bottom: 12px;
  outline: none;
}

 .contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}

 .form-submit {
  text-align: left;
  padding: 0 15px;
}

 .form-submit input {
  font-size: 16px;
  text-transform: capitalize;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 15px 60px;
  margin-top: 16px;
  margin-bottom: 14px;
  cursor: pointer;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

 .form-submit input:hover {
  background-color: #000;
  color: #fff;
}

}

</style>
